.drag-handle.popup-pos-note-type {
    padding-right: 20px;
    padding-bottom: 40px;
}
.pos .popup .title {
    background: transparent;
}
.drag-handle .button.confirm {
    margin-top: auto;
}



$blue: #5183f5;

@mixin typography {
	font-family: "PT Sans", sans-serif;
	letter-spacing: 1.1px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $blue;
	font-weight: 600;
}

@mixin centered-layout {
	position: inherit;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.pill-container {
	& input[type="checkbox"]{
		opacity: 0;
		position: fixed;
		width: 0;
	}
	@include centered-layout;
	display:flex;
	flex-direction: row;
	width: 100%;
	height: 3rem;
	box-sizing: border-box;

}

.selector {
	@include typography;
	display: flex;
	align-items: center;
	justify-content:center;
	flex-grow: 1;
	cursor: pointer;
	background: lighten($blue, 30%);
	border: 2px solid $blue;
// 	border-right: 0;
	&:hover {
		background: lighten($blue, 20%);
		color: $blue;
	}
}

input[type="checkbox"]:checked + label {
	background: $blue;
	color: white;
}


